body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: -8px;
}
header {
    /*border: 1px solid black;*/margin: 0;
    background-color: darkblue;
    border-bottom: 2px solid brown;
    display: flex;
    justify-content: space-between;
}
.blog{
    margin-left: 20px;
    text-align: center;
}
.description2{
    margin-left: 800px;
}
main h4{

}
.separator{
    border-bottom: 4px solid red;
}

.knyga{
    display: flex;
    justify-content: space-around;
    border-bottom: green 4px;
}
.registration{

    margin-right: 3%;
    /*border: 1px solid black;*/
    width: 180px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.registration a{
    margin: 10%;
    text-decoration: none;
    color: black;
}
.group{
    height: 46px;
    width: 308px;
}

.first_page{
    margin: 0;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
main{
    /margin: 0;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 550px;
    overflow: auto;
}


.form input{
    width: 300px;
    height: 40px;
}

form{

    margin: 50px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 15px 40px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.group_option{
    height: 46px;
    width: 308px;
}
.text_group{
    text-align: left;
    margin-left: 10px;
}
#form2{
    margin: 10px;
}
form h2{
    background-color: aqua;
    margin-top: 0;
}

form a{
    width: 50px;
    height: 40px;
    font-size: 19px;
    margin-left: 200px;
    background-color: aqua;
    text-decoration: none;
    color: black;
}
.form button{
    background-color: aqua;
    width: 50px;
    height: 40px;
    margin-left: 200px;
}
/*.form{
    margin: 50px;
    width: 50px;
}*/
.password_label{
    margin: 50px;
    width: 100px;
}

.image{
    /*margin-left:5px;*/
}
.text{
    /*flex-grow: 3;*/
}
footer{
    margin: -8px;
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    /*margin-top: -100px;
    height: 100px;*/
    justify-content: space-around;
    background-color: gray;
}
.book{
    /*margin: 0 auto;*/
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid deepskyblue;

}
.book h4{
    margin-right: 100px;
    display: flex;
    flex-direction: row-reverse;
}

.description h4{
    margin-left: 1275px;
}
.description{
    border-bottom: 5px solid deepskyblue;

}
.description_about_author h4{
    margin-left: 1100px;

}
.author{
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid deepskyblue;
}


